<%= javascript_include_tag 'sim-player' %>
<%= javascript_include_tag 'jquery.contextmenu.r2.packed' %>
<%= javascript_include_tag 'jquery.simplemodal-1.4.1' %>
<%= stylesheet_link_tag 'modal' %>
<%= stylesheet_link_tag 'primary' %>

<script type="text/javascript">
    sim_id = <%= @simulation.id %>;
    load_map_for_sim();
</script>

<div id="player-canvas">
<h1>Watching simulation: <%= @simulation.name %></h1>
<%= render 'canvas' %>
</div>

<div id="player-tools">
<h1>Messages</h1>
<textarea id="messages_textarea" cols="40" rows="24" readonly="true"></textarea><br />
<h1>Playback control</h1>
Step<input id="step_ctrl" class="step-textbox" type="text"></input> of <input class="step-textbox" id="step_end" type="text" readonly="true" ></input>
<input id="btn_step_up" type="button" value="+"></input><input id="btn_step_down" type="button" name="btn" value="-"></input><input id="btn_simulate" type="button" name="btn" value="Simulate..."></input><br />
<input id="chk_autoplay" type="checkbox">AutoPlay</input><br />
</div>

<div class="contextMenu" id="contextMenu">
      <ul>
        <li id="show_source">Show source code</li>
        <li id="show_static">Show static source code</li>
      </ul>
</div>

<div class="contextMenu" id="source-show-content">
  <h3 id="src_label">Source</h3>
  <textarea id="src_textarea" cols="80" rows="24" readonly="true"></textarea>
</div>

<div class="contextMenu" id="simulate-content">
  <h3 id="simulate_label">Enter number of steps you want to simulate</h3>
  <input id="step_count" type="text"></input>
  <input id="btn_simulate_confirm" type="button" name="btn" value="Simulate"></input>
</div>
