<%= javascript_include_tag 'simulation-player' %>
<%= javascript_include_tag 'jquery.contextmenu.r2.packed' %>
<%= javascript_include_tag 'jquery.simplemodal-1.4.1' %>
<%= stylesheet_link_tag 'modal' %>
<%= stylesheet_link_tag 'primary' %>

<script type="text/javascript">
    sim_id = <%= @simulation.id %>;
    load_map_for_sim();
</script>

<div id="player-canvas">
<h1>Watching simulation: <%= @simulation.name %></h1>
<%= render 'canvas' %>
<%= link_to 'Back', simulations_path %> |
<%= link_to 'Edit actors', :action => "edit_actors", :id => @simulation.id %>
</div>

<div id="player-tools">
<h1>Messages</h1>
<%= text_area_tag "messages_textarea", nil, { :size => "40x24", :disabled => true } %><br />
<h1>Playback control</h1>
Step<%= number_field_tag 'step_ctrl', nil, :class => "step-textbox" %> of <%= number_field_tag 'step_end', nil, :class => "step-textbox" %>
<input id="btn_step_up" type="button" value="+"></input><input id="btn_step_down" type="button" name="btn" value="-"></input><input id="btn_simulate" type="button" name="btn" value="Simulate..."></input><br />
<input id="chk_autoplay" type="checkbox">AutoPlay</input><br />
</div>

<div class="contextMenu" id="contextMenu">
      <ul>
        <li id="show_source">Show source code</li>
        <li id="show_static">Show static source code</li>
      </ul>
</div>

<div class="contextMenu" id="source-show-content">
  <h3 id="src_label">Source</h3>
  <%= text_area_tag "src_textarea", nil, { :size => "80x24", :disabled => true } %>
</div>

<div class="contextMenu" id="simulate-content">
  <h3 id="simulate_label">Enter number of steps you want to simulate</h3>
  <%= number_field_tag "step_count" %>
  <input id="btn_simulate_confirm" type="button" name="btn" value="Simulate"></input>
</div>
