<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Seznam simulací</h1>
<% if @simareas.length == 0 %>
  Žádné
<% else %>
  <table>
  <tr>
    <th>Název</th>
    <th>Šířka</th>
    <th>Výška</th>
    <th>Počet actorů</th>
    <th>Odkaz</th>
  </tr>
  <% index = 0 %>
  <% @simareas.each do |simarea| %>   
    <tr>
      <td><%= simarea.name %></td>
      <td><%= simarea.width %></td>
      <td><%= simarea.height %></td>
      <td><%= simarea.actors.length %></td>
      <td><%= button_to "Vybrat", { :action => "connect", :id => index } %> </td>
    </tr>
  <% index = index + 1 %>
  <% end %>
  </table>
<% end %>

<h1>Založit novou simulaci</h1>
<%= form_tag '/game/create' do -%>
  <table>
    <tr>
      <th>Nazev</th>
      <th>Sirka</th>
      <th>Vyska</th>
    </tr>
    <tr>
      <td><%= text_field_tag 'sim_name' %></td>
      <td><%= text_field_tag 'sim_width' %></td>
      <td><%= text_field_tag 'sim_height' %></td>
    </tr>
  </table>
<%= submit_tag 'Založit' %>
<% end %>

