<%= javascript_include_tag 'map-display' %>
<p id="notice"><%= notice %></p>

<h1>Displaying map: <%= @map.name %></h1>

<%= render 'canvas' %>

<script type="text/javascript">
    map_id = <%= @map.id %>;
    load_map();
</script>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
