<!DOCTYPE html>
<html>
<head>
  <title>RobotKarel</title>
  <%= stylesheet_link_tag :all %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>

  <%= javascript_include_tag 'jQuery-rails.js' %>
  <%= javascript_include_tag 'jQuery.timers.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
