<!DOCTYPE html>
<html>
<head>
  <title>RobotKarel</title>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>

  <%= javascript_include_tag 'jquery.timers.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= stylesheet_link_tag 'primary' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="menu">

    <ul>
      <li><a href="/maps">Maps</a></li>
      <li><a href="/simulations">Simulations</a></li>
      <li><a href="/actors">Actors</a></li>
    </ul>
  </div>

  <div id="main">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
</body>
</html>
