<!DOCTYPE html>
<html>
<head>
  <title>RobotKarel</title>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>

  <%= javascript_include_tag 'jquery.timers.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'primary' %>
  <%= stylesheet_link_tag 'menu_style' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
    <ul id="menu">
      <li><a href="/help/welcome">Welcome</a></li>
      <li><a href="/maps">Map templates</a></li>
      <li><a href="/actors">Actor templates</a></li>
      <li><a href="/simulations">Simulations</a></li>
    </ul>

  <div id="main">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
</body>
</html>
